.menu{
    user-select: none;

    *.hidden {
        display: none !important;
    }
}

.menu-icon {
    cursor: pointer;
}

.menu-area {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.90);
    border: 1px solid black;
    padding: 2px;
    border-radius: 5px;
    font-family: Arial Black, serif;
    font-size: 2vh;
    text-align: left;
    cursor: pointer;
    z-index: 100;

    .menu-item {
        cursor: pointer;
        display: block;
    }

    .menu-item:hover {
        position: static;
        color: blue;
    }
}

.sub-menu {
    position: relative;
    cursor: pointer;

    .menu-label:hover {
        position: static;
        color: #126b9f;
    }

    .sub-menu-indicator{
        position: absolute;
        right: 0;
        top: 0;
    }

    .menu-area{
        position: relative;
        left: 25px;
    }

    .menu-item {
        cursor: pointer;
        display: block;
    }
}
