#text-question {
    position: absolute;
    top: 15vh;
    left: 50%;
    width: calc(75 * 1.11vh);
    height: 75vh;
    transform: translateX(-50%);
    border: 1px solid black;
    background-color: #1117d9;
    z-index: 10;

    &.hidden{
        display: none;
    }

    .text-contents {
        position: absolute;
        width: 100%;
        //height: 100%;
        top: 50%;
        transform: translateY(-50%);
        word-spacing: 30px;
        font-size: 7vh;
        font-family: OPTIKorinna-Agency, serif;
        text-transform: uppercase;
        color: #eee;
        text-shadow: 4px 4px #000;
        text-align: center;
        white-space: pre-line;

        &:focus {
            outline: none;
        }
    }
}