<template id="player-container-template">
    <link rel="stylesheet" href="styles/generated/player_container.css">

    <div class="outer">
        <div class="inner">
            <player-panel template-id="player-panel-template"></player-panel>
        </div>
    </div>

</template>