[Unit]
Description=trivia.js
Documentation=https://example.com
After=network.target

[Service]
Environment=TRIVIA_PORT=8000
Type=simple
User=ed
WorkingDirectory=/home/ed/trivia/server
ExecStart=/usr/bin/node /home/ed/trivia/server/src/server/server.js

[Install]
WantedBy=multi-user.target
