[Unit]
Description=trivia.js
Documentation=https://example.com
After=network.target

[Service]
Environment=TRIVIA_PORT=8000
Type=simple
User=<USER>
WorkingDirectory=<WD>
ExecStart=<NODE> <WD>/src/index/index.js

[Install]
WantedBy=multi-user.target
