// contestant_portal.scss

@import 'portal/layout';
@import 'components/button';
@import 'components/bg';

#buzz{
    position: absolute;
    width: 40vh;
    height: 14vh;
    bottom: -9.5vh;
    background-color: #ebff43;

    .text {
        font-size: 10vh;
    }

    &:hover {
        background-color: #ecff8c;
    }

    &.right {
        left: 50%;
        transform: translateX(40%);
    }
}

#self-panel{
    position: absolute;
    width: 25vh;
    left: 10vh;
    top: 2vh;
}

