// editor.scss
@import 'editor/layout';
@import 'editor/buttons';
@import 'components/bg';
@import 'components/shared';

* {
    box-sizing: border-box;
}

.bg {
    background-image: url("../../assets/images/BG01.jpg");
}

.hidden-anchor{
    position: relative;
    left: -1000px;
}