// host_portal.scss

@import 'host_portal/layout';
@import 'editor/buttons';
//@import 'components/menu';

:root {
  --ui-border-color: #44d1dc;
  --ui-background-hover: #3f43d8;
  --ui-background: #1117d9;
  --ui-background-selected: #3f43d8;
  --ui-background-disabled: #808080;
}

body {
  background-color: #091158;
  background-image: url("../../assets/images/background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vh;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'OPTIKorinna-Agency';
  src: url('../font/OPTIKorinna-Agency.ttf.woff') format('woff'),
  url('../font/OPTIKorinna-Agency.ttf.svg#OPTIKorinna-Agency') format('svg'),
  url('../font/OPTIKorinna-Agency.ttf.eot'),
  url('../font/OPTIKorinna-Agency.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}