@import 'components/check_box';
@import 'components/file_list';
@import 'components/button';
@import 'components/shared';

*{
    box-sizing: border-box;
    user-select: none;
}

body, html {
    height: 100%;
    overflow: hidden;
    background-color: #a3f3ff;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #a3f3ff;
    background-image: url("../../assets/images/BG03.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    overflow: hidden;
}

.hidden-anchor{
    position: relative;
    left: -1000px;
}

.busy-box{
    position: absolute;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.3);
}

.busy-box.hidden{
    display: none;
}

.busy-box > img{
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.button-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #144369;
    border-radius: 20px;
    background-color: var(--ui-background-panel);
    height: 315px;
    width: 350px;

    #sign-in{
        top: 250px;
    }
}

.button{
    position: absolute;
    height: 50px;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    --ui-bg : 64, 255, 64;
    --ui-border-color: 60, 120, 55;
    --ui-border-color-hover: 39, 213, 23;

    &#create{
        top: 10px;
    }

    &#upload{
        top: 70px;
    }

    &#load{
        top: 130px;
    }

    &#launch{
        top: 190px;
    }
}

#sign-in{
    position: relative;
}

#sign-in > div{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}