// host_portal.scss

@import 'portal/layout';
@import 'components/button';
@import 'components/bg';

.button {
  width: 27vh;
  height: 5vh;
  background-color: white;

  .text {
    font-size: 4vh;
  }

  &:hover {
    background-color: #ecff8c;
  }

  &#accept {
    background-color: #8cffa0;

    &:hover {
      background-color: #c8fbd1;
    }
  }

  &#reject {
    background-color: #e24ab4;

    &:hover {
      background-color: #df7bc2;
    }
  }

  &#continue {
    background-color: #ebff43;

    &:hover {
      background-color: #ecff8c;
    }
  }

  &#next {
    width: 40vh;
    background-color: #ebff43;

    &:hover {
      background-color: #ecff8c;
    }
  }
}