// index.scss

@import 'components/shared';

//html, body {
//  box-sizing: border-box;
//  height: 100%;
//}

aspect-container {
  background-color: blue;
}

nidget-radio-group {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60px;
  height: 300px;
}

nidget-radio-button {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 2px;
}

//noinspection ALL
.imadiv, .imadiv-too {
  position: relative;
  left: 20%;
  width: 400px;
  height: 50px;

  .im-inside {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

.top1 {
  top: 55%;
}

.top2 {
  top: 60%;
  background-color: red;
}

.top3 {
  top: 65%;
  background-color: red;
}
