@import 'multiple_choice_compose';

#wager {
    position: absolute;
    bottom: 15%;
    height: calc(var(--height-value) * 0.06);
    width: 15%;
    font-size: calc(var(--base-font-size) * 0.7);
    transform: translate(-50%, 50%);
    left: 27.5%;
}