@import 'editor/buttons';

* {
  box-sizing: border-box;
}

:host(multiple-choice-compose.hidden) {
  display: none;
}

.outer {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: Arial Black, serif;
  background-color: #1117d9;
  z-index: 0;

  background-image: url("../../assets/images/jeopardy_cell_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;

  #txt_in_value {
    position: absolute;
    height: calc(var(--height-value) * 0.72 / 12);
    font-size: calc(var(--base-font-size) * 0.7);
    width: calc(var(--height-value) * 0.5);
    bottom: 20%;
    left: 52.5%;
    transform: translateX(-50%);
  }

  .choices {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    justify-content: center;

    .column {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &.left {
        width: calc(var(--height-value) * 0.12);
      }

      &.right {
        width: calc(var(--height-value) * 0.8);
      }

      .row {
        position: relative;
        display: block;
        height: calc(var(--height-value) * 0.72 / 6);
        width: 100%;

        .text {
          position: absolute;
          height: 50%;
          width: 100%;
          font-size: calc(var(--base-font-size) * 0.7);
          transform: translateY(50%);
        }

        nidget-radio-button {
          position: absolute;
          --ui-radio-button-border-width: calc(var(--height-value) * 0.005);
          width: calc(var(--height-value) * 0.06);
          height: calc(var(--height-value) *0.06);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

