@import 'editor/buttons';

* {
    box-sizing: border-box;
}

:host(multiple-choice-pane.hidden){
    display: none;
}

#buttons{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1vh;
}

.outer {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Arial Black, serif;
    background-color: #1117d9;
    z-index: 0;

    check-box{
        position: absolute;
        width: 5%;
        --nidget-aspect-ratio: 1-1;
        top: calc((var(--index) * 12%) + 15.75%);
        left: 4%;
    }

    .answer{
        position: absolute;
        width: 85%;
        right: 4%;
        border: 2px dotted;
        border-color: var(--ui-border-color);
        height: 10%;
        top: calc((var(--index) * 12%) + 14%);
        white-space: nowrap;

        nidget-text{
            position: absolute;
            width: 100%;
            height: 100%;
            white-space: pre;
            color: #eee;
            font-size: 6vh;
            font-family: OPTIKorinna-Agency, serif;
            text-transform: uppercase;
            text-shadow: 4px 4px #000;
            text-align: left;
            white-space: pre-line;
        }

        &:focus {
            outline: none;
            border-color: #e0f2ff;
        }
    }
}