@import 'editor/buttons';

* {
  box-sizing: border-box;
}

:host(multiple-choice-compose.hidden) {
  display: none;
}

.outer {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: Arial Black, serif;
  background-color: #1117d9;
  z-index: 0;

  border: 3px solid black;
  border-radius: 10px;
  background-image: url("assets/images/jeopardy_cell_bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  check-box, .answer {
    top: calc((var(--index) * 12%) + 7.5%);
  }

  check-box {
    position: absolute;
    width: calc(0.06 * var(--height-value));
    height: calc(0.06 * var(--height-value));
    left: 4%;
  }

  .answer {
    position: absolute;
    width: 85%;
    right: 4%;
    height: 10%;
    color: #eee;
    font-family: OPTIKorinna-Agency, serif;
    text-transform: uppercase;
    text-shadow: 4px 4px #000;
    text-align: left;
    white-space: pre-line;
  }

  &:focus {
    outline: none;
    border-color: #e0f2ff;
  }

  #bonus-container {
    position: absolute;
    top: calc((6 * 12%) + 7.5%);
    left: 4%;
    width: 92%;
    height: 10%;

    .label{
      position: absolute;
      display: inline-block;
      font-family: Arial Black, serif;
      color: #ffffff;
      text-transform: uppercase;
      text-align: left;
      white-space: pre-line;
      left: 7.5%;
    }

    .bonus {
      position: absolute;
      display: inline-block;
      color: #eee;
      font-family: OPTIKorinna-Agency, serif;
      text-transform: uppercase;
      text-shadow: 4px 4px #000;
      text-align: left;
      height: 100%;
      width: 17.5%;
      left: 35%;
      top: 12.5%;
      white-space: pre-line;
    }
  }
}

