@import 'editor/buttons';

* {
    position: absolute;
    box-sizing: border-box;
    display: block;
    user-select: none;

    color: #eee;
    font-size: calc(1.0 * var(--base-font-size));
    line-height: calc(0.07 * var(--height-value));
    font-family: OPTIKorinna-Agency, serif;
    text-transform: uppercase;
}

.hidden, :host(multiple-choice-present.hidden){
    display: none;
}

:host(multiple-choice-present.show-mode){
    .wager, .total{
        display: none;
    }
}

.outer {
    width: 100%;
    height: 100%;
    font-family: Arial Black, serif;
    table-layout: fixed;
    background-color: #262096;
    z-index: 0;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: inset 0 0 15px #000;

    .row {
        width: 94%;
        left: 3%;
        top: calc((var(--index) * 12%) + 5.75%);
        height: 10%;

        check-box, .label{
            left: 14%;
        }

        check-box {
            width: calc(0.06 * var(--height-value));
            height: calc(0.06 * var(--height-value));
        }

        .wager, .amount{
            left: 0;
            width: 12%;
            height: 100%;
            top: 0;
            text-align: right;

            &:focus {
                outline: none;
                border-color: #e0f2ff;
            }
        }

        .answer {
            left: 23%;
            width: 78%;
            height: 100%;
            text-align: left;
            border-bottom: 1px dotted #878787;
        }
    }
}