* {
  box-sizing: border-box;
}

:host(nidget-radio-button.hidden) {
  display: none !important;
}

:host(nidget-radio-button[nidget-disabled="true"]) {
  .outer {
    border-color: var(--ui-border-color-disabled, #444);
    background-color: var(--ui-background-disabled, #888);

    .inner-front {
      border-color: var(--ui-border-color-disabled, #444);
    }
  }
}

:host(nidget-radio-button:not([nidget-disabled="true"])) {

  &:host(nidget-radio-button[selected="true"]) {
    .inner-back {
      opacity: 100%;
    }
  }

  &:host(nidget-radio-button:not([selected="true"]):hover) {
    .inner-back {
      opacity: 25%;
    }
  }

  .outer {
    border-color: var(--ui-border-color, #000000);

    --ui-background-hover: #3f43d8;
    background-color: var(--ui-background, whitesmoke);

    .inner-front {
      border-style: solid;
      border-color: var(--ui-border-color, #000000);
    }

    .inner-back {
      background-color: var(--ui-border-color, #000000);
      opacity: 0%;
    }
  }
}

.outer {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: var(--ui-radio-button-border-width, 3px);
  border-radius: 100%;

  .inner-front, .inner-back {
    position: absolute;
    cursor: pointer;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: var(--ui-radio-button-border-width, 3px);
    border-radius: 100%;
  }

  .inner-front {
    border-style: solid;
  }
}