
* {
  box-sizing: border-box;
}

:host(player-card.hidden) {
  visibility: hidden;
}

.outer {
  position: relative;
  width: 100%;
  background-color: rgba(20, 43, 203, 1.0);
  border: 3px solid black;
  border-radius: 3px;
  height: 100%;

  &.highlight {
    #name, #score {
      color: yellow;
    }
  }

  &.dim {
    #name, #score {
      color: grey;
      text-shadow: none;
    }
  }

  #name{
    top: -5%;
  }

  #score{
    top: 33%;
  }

  #clock{
    bottom: 0;
  }

  #name, #score {
    position: absolute;
    display: block;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    color: whitesmoke;

    &.active {
      color: #f5f500;
    }
  }

  @keyframes buzz-sweep-right {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
      background-color: greenyellow;
    }
  }

  #clock {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: grey;

    &.hidden{
      display: none;
    }

    #buzz-light {
      position: absolute;
      height: 100%;
      background-color: greenyellow;
      bottom: 0;
      width: 0;

      &.active{
        width: 100%;
      }

      &.sweep-right {
        animation-name: buzz-sweep-right;
        animation-duration: 0.6s;
        width: 100%;
      }
    }
  }

  .clock-tick {
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 100%;
    border: 1px solid black;

    &.spent {
      background-color: red;
    }

    &[data-index='1'] {
      left: 20%;
    }

    &[data-index='2'] {
      left: 40%;
    }

    &[data-index='3'] {
      left: 60%;
    }

    &[data-index='4'] {
      left: 80%;
    }
  }
}