@import 'editor/buttons';

* {
    box-sizing: border-box;
}

:host(question-pane.hidden) {
    display: none;
}

#outer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--ui-background);
    z-index: 0;
    cursor: text;

    border: 3px solid black;
    border-radius: 10px;
    background-image: url("../../assets/images/jeopardy_cell_bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    .text-contents {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        font-family: OPTIKorinna-Agency, serif;
        text-transform: uppercase;
        color: #eee;
        text-align: center;
        white-space: pre-line;
        z-index: 0;

        &:focus {
            outline: none;
        }
    }

    #buttons{
        position: relative;
        display: inline-block;
        left: 50%;
        transform: translate(-50%, -110%);
        top: 100%;

        .hidden{
            display: none;
        }
    }
}
