@import "./nidget-styles/text_input_glow";
@import "./nidget-styles/text_input_dotted";
@import "./nidget-styles/text_input_inset";

:host(text-input) {
  display: inline-block;
}

:host(text-input.hidden) {
  display: none;
}

* {
  box-sizing: border-box;
  user-select: none;
}

.text-input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  cursor: text;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  border: 2px solid black;
  border-radius: 5px;

  .hint-text {
    color: var(--ui-font-color-hint, #888);
    pointer-events: none;
  }

  .text, .hint-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    //vertical-align: center;

    &:focus {
      outline: none;
      border-color: var(--ui-border-color, #000);
    }
  }

  &.disabled {
    border-color: var(--ui-border-color-disabled, #444);
    color: var(--ui-font-color-disabled, #444);
    background-color: var(--ui-background-disabled, #888);
    pointer-events: none;
  }
}