:host(text-input.hidden) {
  display: none;
}

* {
  box-sizing: border-box;
  user-select: none;
}

:host(.ti-style-dotted) {
  .text-input {
    border: 2px dotted;
    border-color: var(--ui-border-color);

    .text, .hint-text {
      border-radius: 3px;
      top: 50%;
      width: 90%;
      left: 5%;
      transform: translateY(-50%);
    }
  }
}

:host(.ti-style-inset) {
  .text-input {
    border: 3px solid rgb(var(--ui-border-color));
    border-radius: 15px;
    background-color: rgba(var(--ui-bg), 0.6);

    &:hover {
      border-color: rgb(var(--ui-border-color-hover));

      .text {
        background-color: whitesmoke;
      }
    }

    .text, .hint-text {
      border-radius: 3px;
      top: 50%;
      width: 90%;
      left: 5%;
      transform: translateY(-50%);
    }

    .text {
      background-color: rgba(255, 255, 255, 0.6);
    }
  }
}

.text-input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  cursor: text;

  .hint-text {
    color: rgba(var(--ui-ti-hint, 128, 128, 128), 1.0);
    pointer-events: none;
  }

  .text, .hint-text {
    position: absolute;

    &:focus {
      outline: none;
      border-color: #e0f2ff;
    }
  }

  &.disabled {
    border-color: #6e6e6e;
    color: #6e6e6e;
    background-color: rgba(138, 138, 138, 0.6);
    pointer-events: none;
  }
}