// host_portal/layout

.bg {
  background-image: url("../../assets/images/BG01.jpg");
}

body {
  background-color: #091158;
  height: 100vh;
  width: 100vh;
}

* {
  box-sizing: border-box;
}

trivia-timer {
  position: absolute;
  right: calc(75 / 9 * 8vh); // middle of board
  transform: translateX(50%);
  bottom: -9.5vh;
  width: 14vh;
  height: 14vh;
  z-index: 10;

  font-family: "Arial Black", serif;
  font-size: 6vh;
}

check-box {
  position: absolute;
  width: 5%;
  height: 5%;
  left: 2%;
}

#main-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8vh;
  height: 75vh;
  width: calc(27vh + (75 / 9 * 16vh));

  #player-container-left {
    position: absolute;
    width: 25vh;
    height: 75vh;
    top: 0;
    left: 0;
    z-index: 2000;
  }

  #game-board, #multiple-choice-present, #question-pane {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(75 / 9 * 16vh); // 16:9 w:h
    height: 75vh;
    z-index: 5;
  }
}

#top-bar {
  position: absolute;
  top: 1vh;
  left: 50%;
  transform: translateX(-50%);
  width: calc(27vh + (75 / 9 * 16vh));
  height: 5vh;
  z-index: 100;

  menu-container {
    position: absolute;
    right: 0px;
    width: 5vh;
    height: 5vh;

    .menu-area {
      width: 200px;
    }
  }
}

#round-number {
  position: absolute;
  top: 1vh;
  left: 50%;
  width: calc(75 * 1.11vh);
  height: 5vh;
  transform: translateX(-50%);

  .text {
    position: absolute;
    font-family: Arial Black, serif;
    font-size: 4vh;
    color: #e8e8e8;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
  }
}

.button-dock {
  position: absolute;
  width: calc(75 / 9 * 16vh);
  right: 0;
  bottom: -5vh;
  height: 5vh;

  .button {
    position: absolute;
    bottom: -1vh;

    &.hidden {
      display: none;
    }

    &.left {
      left: 50%;
      transform: translateX(-150%);
    }

    &.right {
      left: 50%;
      transform: translateX(50%);
    }

    &.center {
      left: 50%;
      transform: translateX(-50%);
    }


  }
}

