:root {
  --ui-border-color: #44d1dc;
  --ui-background-hover: #3f43d8;
  --ui-background: #1117d9;
  --ui-background-selected: #3f43d8;
  --ui-background-disabled: #808080;
  --menu-font-family: Arial Black, serif;
  --menu-font-size: 2vh;
  --menu-width: 200px;
}

@font-face {
  font-family: "OPTIKorinna-Agency";
  src: url("../font/OPTIKorinna-Agency.ttf.woff") format("woff"), url("../font/OPTIKorinna-Agency.ttf.svg#OPTIKorinna-Agency") format("svg"), url("../font/OPTIKorinna-Agency.ttf.eot"), url("../font/OPTIKorinna-Agency.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
.bg {
  background-image: url("../../assets/images/BG01.jpg");
}

body {
  background-color: #091158;
  height: 100vh;
  width: 100vh;
}

* {
  box-sizing: border-box;
}

trivia-timer {
  position: absolute;
  right: calc(75 / 9 * 8vh);
  transform: translateX(50%);
  bottom: -9.5vh;
  width: 14vh;
  height: 14vh;
  z-index: 10;
  font-family: "Arial Black", serif;
  font-size: 6vh;
}

check-box {
  position: absolute;
  width: 5%;
  height: 5%;
  left: 2%;
}

#main-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8vh;
  height: 75vh;
  width: calc(27vh + (75 / 9 * 16vh));
}
#main-container #player-container-left {
  position: absolute;
  width: 25vh;
  height: 75vh;
  top: 0;
  left: 0;
  z-index: 2000;
}
#main-container #game-board, #main-container #multiple-choice-present, #main-container #question-pane {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(75 / 9 * 16vh);
  height: 75vh;
  z-index: 5;
}

#top-bar {
  position: absolute;
  top: 1vh;
  left: 50%;
  transform: translateX(-50%);
  width: calc(27vh + (75 / 9 * 16vh));
  height: 5vh;
  z-index: 100;
}
#top-bar menu-container {
  position: absolute;
  right: 0px;
  width: 5vh;
  height: 5vh;
}

#round-number {
  position: absolute;
  top: 1vh;
  left: 50%;
  width: calc(75 * 1.11vh);
  height: 5vh;
  transform: translateX(-50%);
}
#round-number .text {
  position: absolute;
  font-family: Arial Black, serif;
  font-size: 4vh;
  color: #e8e8e8;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.menu-area {
  width: 200px;
}

.button-dock {
  position: absolute;
  width: calc(75 / 9 * 16vh);
  right: 0;
  bottom: -5vh;
  height: 5vh;
}
.button-dock .button {
  position: absolute;
  bottom: -1vh;
}
.button-dock .button.hidden {
  display: none;
}
.button-dock .button.left {
  left: 50%;
  transform: translateX(-150%);
}
.button-dock .button.right {
  left: 50%;
  transform: translateX(50%);
}
.button-dock .button.center {
  left: 50%;
  transform: translateX(-50%);
}

.button {
  border: 3px solid rgb(var(--ui-border-color));
  border-radius: 15px;
  cursor: pointer;
  background-color: rgba(var(--ui-bg), 0.6);
}
.button .text {
  position: relative;
  text-align: center;
  font-size: 20px;
  font-family: "Arial Black", serif;
  line-height: 0;
  top: 50%;
}
.button:hover {
  border-color: rgb(var(--ui-border-color-hover));
  background-color: rgba(var(--ui-bg), 0.9);
}
.button.disabled {
  border-color: #6e6e6e;
  color: #6e6e6e;
  background-color: rgba(var(--ui-bg-dis, 138, 138, 138), 0.6);
  pointer-events: none;
}
.button.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow: hidden;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  overflow: hidden;
}

.button {
  width: 27vh;
  height: 5vh;
  background-color: white;
}
.button .text {
  font-size: 4vh;
}
.button:hover {
  background-color: #ecff8c;
}
.button#accept {
  background-color: #8cffa0;
}
.button#accept:hover {
  background-color: #c8fbd1;
}
.button#reject {
  background-color: #e24ab4;
}
.button#reject:hover {
  background-color: #df7bc2;
}
.button#continue {
  background-color: #ebff43;
}
.button#continue:hover {
  background-color: #ecff8c;
}
.button#next {
  width: 40vh;
  background-color: #ebff43;
}
.button#next:hover {
  background-color: #ecff8c;
}

/*# sourceMappingURL=host_portal.css.map */
