check-box {
  position: absolute;
  width: 5%;
  height: 5%;
  left: 2%;
}

#main-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 8vh;
  height: 75vh;
  width: calc(27vh + (75 / 9 * 16vh));
}
#main-container #player-container-left {
  position: absolute;
  width: 25vh;
  height: 75vh;
  top: 0;
  left: 0;
  z-index: 2000;
}
#main-container #game-board, #main-container #multiple-choice-present, #main-container #question-pane {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(75 / 9 * 16vh);
  height: 75vh;
  z-index: 5;
}

#top-bar {
  position: absolute;
  top: 1vh;
  left: 50%;
  transform: translateX(-50%);
  width: calc(27vh + (75 / 9 * 16vh));
  height: 5vh;
  z-index: 100;
}
#top-bar menu-container {
  position: absolute;
  right: 0px;
  width: 5vh;
  height: 5vh;
}

#round-number {
  position: absolute;
  top: 1vh;
  left: 50%;
  width: calc(75 * 1.11vh);
  height: 5vh;
  transform: translateX(-50%);
}
#round-number .text {
  position: absolute;
  font-family: Arial Black, serif;
  font-size: 4vh;
  color: #e8e8e8;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.menu-area {
  width: 200px;
}

.button-dock {
  position: absolute;
  width: calc(75 / 9 * 16vh);
  right: 0;
  bottom: -5vh;
  height: 5vh;
}
.button-dock .nav-button {
  position: absolute;
  bottom: -1vh;
}
.button-dock .nav-button.hidden {
  display: none;
}
.button-dock .nav-button.left {
  left: 50%;
  transform: translateX(-140%);
}
.button-dock .nav-button.right {
  left: 50%;
  transform: translateX(40%);
}
.button-dock .nav-button.center {
  left: 50%;
  transform: translateX(-50%);
}
.button-dock .nav-button#accept {
  background-color: #8cffa0;
}
.button-dock .nav-button#accept:hover {
  background-color: #c8fbd1;
}
.button-dock .nav-button#reject {
  background-color: #e24ab4;
}
.button-dock .nav-button#reject:hover {
  background-color: #df7bc2;
}
.button-dock .nav-button#continue {
  background-color: #ebff43;
}
.button-dock .nav-button#continue:hover {
  background-color: #ecff8c;
}
.button-dock .nav-button#next {
  width: 40vh;
  background-color: #ebff43;
}
.button-dock .nav-button#next:hover {
  background-color: #ecff8c;
}

.nav-button {
  display: inline-block;
  width: 22vh;
  height: 5vh;
  border: 0.33vh solid black;
  background-color: white;
  border-radius: 1vh;
  text-align: center;
  font-family: "Arial Black", serif;
  font-weight: bold;
  line-height: 4vh;
  font-size: 3vh;
  cursor: pointer;
}

:root {
  --ui-border-color: #44d1dc;
  --ui-background-hover: #3f43d8;
  --ui-background: #1117d9;
  --ui-background-selected: #3f43d8;
  --ui-background-disabled: #808080;
  --menu-font-family: Arial Black, serif;
  --menu-font-size: 2vh;
  --menu-width: 200px;
}

body {
  background-color: #091158;
  background-image: url("../../assets/images/background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vh;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "OPTIKorinna-Agency";
  src: url("../font/OPTIKorinna-Agency.ttf.woff") format("woff"), url("../font/OPTIKorinna-Agency.ttf.svg#OPTIKorinna-Agency") format("svg"), url("../font/OPTIKorinna-Agency.ttf.eot"), url("../font/OPTIKorinna-Agency.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
trivia-timer {
  position: absolute;
  right: calc(75 / 9 * 8vh);
  top: 75vh;
  transform: translate(50%, -50%);
  width: 14vh;
  height: 14vh;
  z-index: 10;
  font-family: "Arial Black", serif;
  font-size: 2em;
  line-height: 65px;
}

/*# sourceMappingURL=host_portal.css.map */
