
#game-board-container {
    position: absolute;
    bottom: 0%;
    left: 50%;
    //width: 75%;
    width: 100px;
    height: 100px;
    --nidget-height-ratio: 0.9;
    transform: translateX(-50%);
    background-color: #1117d9;
    color: #f2e7c1;
}