:host(text-input.style-dotted) {
  &:host([nidget-disabled='true']) {
    pointer-events: none;

    .text-input {
      border-color: var(--ui-disabled-border-color, #aaa);
      color: var(--ui-disabled-font-color, #aaa);
    }
  }

  &:host(:not([nidget-disabled='true'])) {
    .text-input {
      border-color: var(--ui-border-color);
    }
  }

  .text-input {
    border: 2px dotted;

    .text, .hint-text {
      border-radius: 3px;
      top: 50%;
      width: 100%;
      left: 0;
      transform: translateY(-50%);
      white-space: nowrap;
      overflow: hidden;
    }
  }
}