<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
<%- include('../partials/nidget-templates'); %>

<modal-alert id="alert" class="hidden"></modal-alert>
<div class="bg"></div>

<div class="button-container">
    <text-input id="name" class="style-inset" spellcheck="false" hint="Enter Name Here" filter="[ a-zA-Z_-]{0,15}" tabindex="0">
    </text-input>
    <div class="button" id="join" tabindex="1">
        <div class="text">
            Join Game
        </div>
    </div>
</div>

</body>
</html>