<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <%- include('../partials/google'); %>
    <script src="scripts/static/signin-button.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</head>
<body class="container">
<%- include('../partials/nidget-templates'); %>

<div class="bg"></div>

<input id="upload-anchor" class="hidden-anchor" type="file"/>

<div id="button-container" class="button-container">
    <div class="button disabled" id="create"><div class="text">New</div></div>
    <div class="button disabled" id="upload"><div class="text">Upload</div></div>
    <div class="button disabled" id="load"><div class="text">Edit</div></div>
    <div class="button disabled" id="launch"><div class="text">Launch</div></div>
    <div id="sign-in"></div>
    <div class="busy-box hidden">
        <img src="assets\images\busy.gif"/>
    </div>
</div>

<file-list class="hidden">
    <div id="inner-list"></div>
    <img id="file-list-busy" class="hidden" src="assets\images\busy.gif"/>
    <div id="file-list-close" class="close">Close</div>
</file-list>

</body>
</html>