<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <%- include('../partials/google'); %>
</head>
<body>
<%- include('../partials/nidget-templates'); %>

<div class="top-bar" id="top-bar">
    <div class="menu" id="menu">
        <img class="menu-icon" id="menu-icon" src="assets/images/menu.png"/>
        <div class="menu-area hidden" id="outer">
            <nidget-element class="menu-item" id="menu-home-screen">Exit</nidget-element>
        </div>
    </div>
</div>

<div class="round-number" id="round-number">
    <nidget-text class="text">Round 1</nidget-text>
</div>

<div id="main-container">
    <player-container id="player-container-left"></player-container>
    <question-pane id="question-pane" class="hidden" template-id="question-pane-template"></question-pane>
    <game-board id="game-board" class="hidden"></game-board>
    <multiple-choice-pane id="multiple-choice-pane" class="hidden" template-id="multiple-choice-pane-template"></multiple-choice-pane>
    <trivia-timer class="hidden"></trivia-timer>

    <div class="button-dock">
        <nidget-element class="nav-button hidden left" id="accept">ACCEPT</nidget-element>
        <nidget-element class="nav-button hidden right" id="reject">REJECT</nidget-element>
        <nidget-element class="nav-button hidden left" id="back">BACK</nidget-element>
        <nidget-element class="nav-button hidden right" id="continue">CONTINUE</nidget-element>
        <nidget-element class="nav-button hidden center" id="next">NEXT ROUND</nidget-element>
        <nidget-element class="nav-button hidden center" id="start">START</nidget-element>
    </div>
</div>

</body>
</html>