<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <%- include('../partials/google'); %>
</head>
<body>
<%- include('../partials/nidget-templates'); %>

<div class="top-bar" id="top-bar">
    <menu-container src="assets/images/menu.png">
        <menu-item event-name="terminate">Terminate Hosting</menu-item>
        <menu-item event-name="next">Next Round</menu-item>
        <menu-item event-name="prev">Previous Round</menu-item>
        <menu-item event-name="add-players">Add Players</menu-item>
    </menu-container>
</div>

<div class="round-number" id="round-number">
    <nidget-text class="text">Round 1</nidget-text>
</div>

<div id="main-container">
    <player-container id="player-container-left"></player-container>
    <question-pane id="question-pane" class="hidden" template-id="question-pane-template"></question-pane>
    <game-board id="game-board" class="hidden"></game-board>
    <multiple-choice-present id="multiple-choice-present" class="hidden"></multiple-choice-present>
    <trivia-timer class="hidden"></trivia-timer>

    <div class="button-dock">
        <nidget-element class="nav-button hidden left" id="accept">ACCEPT</nidget-element>
        <nidget-element class="nav-button hidden right" id="reject">REJECT</nidget-element>
        <nidget-element class="nav-button hidden left" id="back">BACK</nidget-element>
        <nidget-element class="nav-button hidden right" id="continue">CONTINUE</nidget-element>
        <nidget-element class="nav-button hidden center" id="next">NEXT ROUND</nidget-element>
        <nidget-element class="nav-button hidden center" id="start">START</nidget-element>
    </div>
</div>

</body>
</html>