<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles/generated/host.css"/>
    <script type="text/javascript" src="jit/host.js"></script>
    <%- include('../partials/google'); %>
    <script src="scripts/static/signin-button.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</head>
<body class="container">
<%- include('../partials/nidget-templates'); %>

<input id="upload-anchor" onblur="console.log('booya')" class="hidden-anchor" type="file"/>

<div class="home-options">
    <div class="button disabled" id="create">New</div>
    <div class="button disabled" id="upload">Upload</div>
    <div class="button disabled" id="load">Edit</div>
    <div class="button disabled" id="launch">Launch</div>
    <div id="sign-in"></div>
    <div class="busy-box hidden">
        <img src="assets\images\busy.gif"/>
    </div>
</div>

<a href="#" onclick="signOut();">Sign out</a>

<file-list class="hidden">
    <div id="inner-list"></div>
    <img id="file-list-busy" class="hidden" src="assets\images\busy.gif"/>
    <div class="close">Close</div>
</file-list>

</body>
</html>