<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <%- include('../partials/google'); %>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</head>
<body>
    <%- include('../partials/nidget-templates'); %>

    <nidget-radio-group>
        <nidget-radio-button id="option1"></nidget-radio-button>
        <nidget-radio-button id="option2"></nidget-radio-button>
        <nidget-radio-button nidget-disabled="true" id="option3" selected="false"></nidget-radio-button>
        <nidget-radio-button id="option4"></nidget-radio-button>
    </nidget-radio-group>

</body>
</html>

