<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <%- include('../partials/google'); %>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</head>
<body>
    <%- include('../partials/nidget-templates'); %>

    <aspect-container>
        <player-container slot="contents"></player-container>
    </aspect-container>

    <script async defer>
        window.addEventListener("load", ()=> {
            document.querySelector("player-container").setPlayers([
                {name: "STEVE", score: 0, active: true, light_state: "highlight"},
                {name: "STEVE", score: 0, active: true, light_state: "dim"},
                {name: "STEVE", score: 0, active: true, light_state: "normal"},
                {name: "STEVE", score: 0, active: true, light_state: "normal"},
                {name: "STEVE", score: 0, active: true, light_state: "normal"},
                {name: "STEVE", score: 0, active: true, light_state: "normal"},
                {name: "STEVE", score: 0, active: true, light_state: "normal"},
                {name: "STEVE", score: 0, active: true, light_state: "normal"},
                {name: "STEVE", score: 0, active: true, light_state: "normal"},
                {name: "STEVE", score: 0, active: true, light_state: "normal"},
                {name: "STEVE", score: 0, active: true, light_state: "normal"},
                {name: "STEVE", score: 0, active: true, light_state: "normal"},
                {name: "STEVE", score: 0, active: true, light_state: "normal"}
            ]);
        });
    </script>
</body>
</html>

