<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <%- include('../partials/google'); %>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</head>
<body>
    <%- include('../partials/nidget-templates'); %>

    <aspect-container>
<!--        <multiple-choice-compose></multiple-choice-compose>-->
    </aspect-container>

</body>
</html>

