<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <%- include('../partials/google'); %>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</head>
<body>
    <%- include('../partials/nidget-templates'); %>

    <popup-panel>
        <link rel="stylesheet" href="styles/generated/index.css">
        <div class="blue">
            I am a popup panel!
        </div>
        <div class="blue">
            I am a popup panel too!
        </div>
    </popup-panel>
</body>
</html>

