<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <%- include('../partials/google'); %>
</head>
<body>

<div class="button-container">
    <div class="button" id="host">Host Portal</div>
    <div class="button" id="contestant">Copy Contestant Link</div>
    <div class="button" id="terminate">Terminate Game</div>
    <div id="message">URL copied</div>
</div>

<div id="contestant_link"></div>

</body>
</html>