<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <%- include('../partials/google'); %>
</head>
<body>

<div class="bg"></div>

<div id="button-container" class="button-container">
    <div id="busy-box" class="busy-box">
        <img src="assets\images\busy.gif"/>
    </div>
    <div class="button" id="host"><div class="text">Host Portal</div></div>
    <div class="button" id="contestant"><div class="text">Copy Contestant Link</div></div>
    <div class="button" id="terminate"><div class="text">Terminate Game</div></div>
    <div id="message">URL copied</div>
</div>

<div id="contestant_link"></div>

</body>
</html>