*{
    box-sizing: border-box;
    user-select: none;
}

body{
    background-color: #a3f3ff;
}

.button-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid;
    border-color: #44b3ff;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

.button{
    position: relative;
    border: 3px solid;
    border-color: #4bf;
    border-radius: 50px;
    height: 50px;
    width: 300px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-family: "Arial Black";
    line-height: 47px;
    cursor: pointer;
    background-color: rgba(0, 192, 0, 0.3);
}

.button:hover{
    position: relative;
    border-color: #4ff;
    background-color: rgba(64, 255, 64, 0.6);
}