<!-- in file "/views/nidgets/check-box.ejs" -->
<template id="check-box-template">
    <link rel="stylesheet" href="styles/generated/check_box.css">
    <div id="outer">
        <div id="inner"></div>
    </div>
</template>