<template id="game-board-template">
    <link rel="stylesheet" href="styles/generated/game_board.css">
    <div id="game-board">
        <div class="row">
            <div class="column" data-row="h" data-col="0">
                <div class="text-buffer">
                    <nidget-text class="value" contenteditable="true"></nidget-text>
                </div>
            </div>
            <div class="column" data-row="h" data-col="1">
                <div class="text-buffer">
                    <nidget-text class="value" contenteditable="true"></nidget-text>
                </div>
            </div>
            <div class="column" data-row="h" data-col="2">
                <div class="text-buffer">
                    <nidget-text class="value" contenteditable="true"></nidget-text>
                </div>
            </div>
            <div class="column" data-row="h" data-col="3">
                <div class="text-buffer">
                    <nidget-text class="value" contenteditable="true"></nidget-text>
                </div>
            </div>
            <div class="column" data-row="h" data-col="4">
                <div class="text-buffer">
                    <nidget-text class="value" contenteditable="true"></nidget-text>
                </div>
            </div>
            <div class="column" data-row="h" data-col="5">
                <div class="text-buffer">
                    <nidget-text class="value" contenteditable="true"></nidget-text>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column question" data-row="0" data-col="0">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="0" data-col="1">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="0" data-col="2">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="0" data-col="3">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="0" data-col="4">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="0" data-col="5">
                <nidget-text class="value"></nidget-text>
            </div>
        </div>
        <div class="row">
            <div class="column question" data-row="1" data-col="0">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="1" data-col="1">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="1" data-col="2">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="1" data-col="3">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="1" data-col="4">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="1" data-col="5">
                <nidget-text class="value"></nidget-text>
            </div>
        </div>
        <div class="row">
            <div class="column question" data-row="2" data-col="0">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="2" data-col="1">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="2" data-col="2">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="2" data-col="3">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="2" data-col="4">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="2" data-col="5">
                <nidget-text class="value"></nidget-text>
            </div>
        </div>
        <div class="row">
            <div class="column question" data-row="3" data-col="0">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="3" data-col="1">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="3" data-col="2">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="3" data-col="3">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="3" data-col="4">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="3" data-col="5">
                <nidget-text class="value"></nidget-text>
            </div>
        </div>
        <div class="row">
            <div class="column question" data-row="4" data-col="0">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="4" data-col="1">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="4" data-col="2">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="4" data-col="3">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="4" data-col="4">
                <nidget-text class="value"></nidget-text>
            </div>
            <div class="column question" data-row="4" data-col="5">
                <nidget-text class="value"></nidget-text>
            </div>
        </div>
    </div>
</template>
