<template id="menu-container-template">
    <link rel="stylesheet" href="styles/generated/menu_container.css">
    <img class="menu-icon" id="menu-icon" src=""/>
    <div class="menu-area hidden" id="outer">
    </div>
</template>