<template id="modal-alert-template">
    <link rel="stylesheet" href="styles/generated/modal_alert.css">
    <div class="outer">
        <div class="row">
            <div id="content" class="content"></div>
        </div>
        <div id="ok" class="button"><div class="text">OK</div></div>
    </div>
</template>