<!--suppress ALL -->
<template id="multiple-choice-compose-template">
    <link rel="stylesheet" href="styles/generated/multiple_choice_compose.css">
    <div class="outer">
        <div class="choices">
            <nidget-radio-group id="radio-group" class="column left">
                <div class="row" data-index="0"><nidget-radio-button selected="true" id="radio-0"/></div>
                <div class="row" data-index="1"><nidget-radio-button id="radio-1"/></div>
                <div class="row" data-index="2"><nidget-radio-button id="radio-2"/></div>
                <div class="row" data-index="3"><nidget-radio-button id="radio-3"/></div>
                <div class="row" data-index="4"><nidget-radio-button id="radio-4"/></div>
            </nidget-radio-group>
            <div class="column right">
                <div class="row" data-index="0"><text-input class="text" id="txt-0" hint="enter answer" /></div>
                <div class="row" data-index="1"><text-input class="text" id="txt-1" hint="enter answer" /></div>
                <div class="row" data-index="2"><text-input class="text" id="txt-2" hint="enter answer" /></div>
                <div class="row" data-index="3"><text-input class="text" id="txt-3" hint="enter answer" /></div>
                <div class="row" data-index="4"><text-input class="text" id="txt-4" hint="enter answer" /></div>
            </div>
        </div>
    </div>
</template>