<%- include('check-box'); %>

<template id="multiple-choice-compose-template">
    <link rel="stylesheet" href="styles/generated/multiple_choice_compose.css">
    <div class="outer">
        <div class="inner" data-index="0" style="--index: 0">
            <check-box checked="false" template-id="check-box-template"></check-box>
            <text-input tabindex="0" class="answer style-dotted"></text-input>
        </div>

        <div class="inner" data-index="1" style="--index: 1">
            <check-box checked="false" template-id="check-box-template"></check-box>
            <text-input tabindex="0" class="answer style-dotted"></text-input>
        </div>

        <div class="inner" data-index="2" style="--index: 2">
            <check-box checked="false" template-id="check-box-template"></check-box>
            <text-input tabindex="0" class="answer style-dotted"></text-input>
        </div>

        <div class="inner" data-index="3" style="--index: 3">
            <check-box checked="false" template-id="check-box-template"></check-box>
            <text-input tabindex="0" class="answer style-dotted"></text-input>
        </div>

        <div class="inner" data-index="4" style="--index: 4">
            <check-box checked="false" template-id="check-box-template"></check-box>
            <text-input tabindex="0" class="answer style-dotted"></text-input>
        </div>

        <div class="inner" data-index="5" style="--index: 5">
            <check-box checked="false" template-id="check-box-template"></check-box>
            <text-input tabindex="0" class="answer style-dotted"></text-input>
        </div>

        <div id="bonus-container">
            <div class="label">BONUS</div>
            <text-input tabindex="0" class="bonus style-dotted" filter="[0-9]{0,5}">0</text-input>
        </div>

    </div>
</template>