<%- include('check-box'); %>

<template id="multiple-choice-compose-template">
    <link rel="stylesheet" href="styles/generated/multiple_choice_compose.css">
    <div class="outer nidget-radio-group">
        <nidget-radio-group>
            <div class="inner" data-index="0" style="--index: 0">
<!--                <nidget-radio-button id="option1" selected="true"></nidget-radio-button>-->
<!--                <text-input tabindex="0" class="answer style-dotted"></text-input>-->
            </div>

            <div class="inner" data-index="1" style="--index: 1">
<!--                <nidget-radio-button id="option1" selected="true"></nidget-radio-button>-->
<!--                <text-input tabindex="0" class="answer style-dotted"></text-input>-->
            </div>

            <div class="inner" data-index="2" style="--index: 2">
<!--                <nidget-radio-button id="option1" selected="true"></nidget-radio-button>-->
<!--                <text-input tabindex="0" class="answer style-dotted"></text-input>-->
            </div>

            <div class="inner" data-index="3" style="--index: 3">
<!--                <nidget-radio-button id="option1" selected="true"></nidget-radio-button>-->
<!--                <text-input tabindex="0" class="answer style-dotted"></text-input>-->
            </div>

            <div class="inner" data-index="4" style="--index: 4">
<!--                <nidget-radio-button id="option1" selected="true"></nidget-radio-button>-->
<!--                <text-input tabindex="0" class="answer style-dotted"></text-input>-->
            </div>

            <div class="inner" data-index="5" style="--index: 5">
<!--                <nidget-radio-button id="option1" selected="true"></nidget-radio-button>-->
<!--                <text-input tabindex="0" class="answer style-dotted"></text-input>-->
            </div>

            <div id="bonus-container">
<!--                <nidget-radio-button id="option1" selected="true"></nidget-radio-button>-->
<!--                <text-input tabindex="0" class="bonus style-dotted" filter="[0-9]{0,5}">0</text-input>-->
            </div>
        </nidget-radio-group>
    </div>
</template>