<%- include('check-box'); %>

<template id="multiple-choice-present-template">
    <link rel="stylesheet" href="styles/generated/multiple_choice_present.css">
    <div class="outer">

        <div class="inner" data-index="0" style="--index: 0">
            <check-box checked="false" template-id="check-box-template"></check-box>
            <text-input class="wager ti-style-fill" spellcheck="false" filter="[0-9]{0,5}">0</text-input>
            <nidget-text class="answer"></nidget-text>
        </div>

        <div class="inner" data-index="1" style="--index: 1">
            <check-box checked="false" template-id="check-box-template"></check-box>
            <text-input class="wager" contenteditable="true">0</text-input>
            <nidget-text class="answer"></nidget-text>
        </div>

        <div class="inner" data-index="2" style="--index: 2">
            <check-box checked="false" template-id="check-box-template"></check-box>
            <text-input class="wager" contenteditable="true">0</text-input>
            <nidget-text class="answer"></nidget-text>
        </div>

        <div class="inner" data-index="3" style="--index: 3">
            <check-box checked="false" template-id="check-box-template"></check-box>
            <text-input class="wager" contenteditable="true">0</text-input>
            <nidget-text class="answer"></nidget-text>
        </div>

        <div class="inner" data-index="4" style="--index: 4">
            <check-box checked="false" template-id="check-box-template"></check-box>
            <text-input class="wager" contenteditable="true">0</text-input>
            <nidget-text class="answer"></nidget-text>
        </div>

        <div class="inner" data-index="5" style="--index: 5">
            <check-box checked="false" template-id="check-box-template"></check-box>
            <text-input class="wager" contenteditable="true">0</text-input>
            <nidget-text class="answer"></nidget-text>
        </div>
    </div>
</template>