<!--suppress ALL -->
<template id="multiple-choice-present-template">
    <link rel="stylesheet" href="styles/generated/multiple_choice_present.css">
    <div class="outer">
        <div class="choices">
            <nidget-radio-group id="radio-group" class="column left">
                <div class="row" data-index="0"><nidget-radio-button selected="true" id="radio-0"/></div>
                <div class="row" data-index="1"><nidget-radio-button id="radio-1"/></div>
                <div class="row" data-index="2"><nidget-radio-button id="radio-2"/></div>
                <div class="row" data-index="3"><nidget-radio-button id="radio-3"/></div>
                <div class="row" data-index="4"><nidget-radio-button id="radio-4"/></div>
            </nidget-radio-group>
            <div class="column right">
                <div class="row" data-index="0"><div class="text" id="txt-0"></div></div>
                <div class="row" data-index="1"><div class="text" id="txt-1"></div></div>
                <div class="row" data-index="2"><div class="text" id="txt-2"></div></div>
                <div class="row" data-index="3"><div class="text" id="txt-3"></div></div>
                <div class="row" data-index="4"><div class="text" id="txt-4"></div></div>
            </div>
        </div>
        <text-input id="wager" class="text wager" hint="enter wager"/>
    </div>
</template>