<template id="nidget-radio-button-template">
    <link rel="stylesheet" href="styles/generated/nidget-radio-button.css">
    <div id="outer" class="outer">
        <div class="inner-front"></div>
        <div class="inner-back"></div>
    </div>
</template>