<template id="nidget-button-template">
    <link rel="stylesheet" href="styles/generated/nidget_button.css">
    <div class="mask"></div>
    <div id="outer" class="button">
        <div id="text" class="text"></div>
    </div>
</template>