<template id="player-container-template" data-include="player-panel">
    <link rel="stylesheet" href="styles/generated/player_container.css">

    <div class="outer hide-extra">
        <nidget-element id="expand-button" class="hidden">
            <div class="text">&#9654;</div>
        </nidget-element>
        <nidget-element style="--index: 0" class="inner first" data-index="0">
        </nidget-element>
    </div>

</template>