<template id="player-container-template" data-include="player-card">
    <link rel="stylesheet" href="styles/generated/player_container.css">

    <div class="outer hide-extra">
        <nidget-element id="expand-button" class="hidden">
            <div class="text">&#9654;</div>
        </nidget-element>
        <nidget-element style="--index: 0" class="row first">
            <player-card class="hidden" style="--index: 0"></player-card>
            <player-card class="hidden" style="--index: 1"></player-card>
            <player-card class="hidden" style="--index: 2"></player-card>
            <player-card class="hidden" style="--index: 3"></player-card>
            <player-card class="hidden" style="--index: 4"></player-card>
            <player-card class="hidden" style="--index: 5"></player-card>
        </nidget-element>
        <nidget-element style="--index: 1" class="row inner extra">
            <player-card class="hidden" style="--index: 0"></player-card>
            <player-card class="hidden" style="--index: 1"></player-card>
            <player-card class="hidden" style="--index: 2"></player-card>
            <player-card class="hidden" style="--index: 3"></player-card>
            <player-card class="hidden" style="--index: 4"></player-card>
            <player-card class="hidden" style="--index: 5"></player-card>
        </nidget-element>
        <nidget-element style="--index: 2" class="row inner extra">
            <player-card class="hidden" style="--index: 0"></player-card>
            <player-card class="hidden" style="--index: 1"></player-card>
            <player-card class="hidden" style="--index: 2"></player-card>
            <player-card class="hidden" style="--index: 3"></player-card>
            <player-card class="hidden" style="--index: 4"></player-card>
            <player-card class="hidden" style="--index: 5"></player-card>
        </nidget-element>
        <nidget-element style="--index: 3" class="row inner extra">
            <player-card class="hidden" style="--index: 0"></player-card>
            <player-card class="hidden" style="--index: 1"></player-card>
            <player-card class="hidden" style="--index: 2"></player-card>
            <player-card class="hidden" style="--index: 3"></player-card>
            <player-card class="hidden" style="--index: 4"></player-card>
            <player-card class="hidden" style="--index: 5"></player-card>
        </nidget-element>
    </div>
</template>
