<template id="player-card-template">
    <link rel="stylesheet" href="styles/generated/player_card.css">

    <div class="outer">
        <nidget-text id="name">Name</nidget-text>
        <nidget-text id="score">1000</nidget-text>
        <div id="clock">
            <div id="buzz-light"></div>
            <div class="clock-tick" data-index="0"></div>
            <div class="clock-tick" data-index="1"></div>
            <div class="clock-tick" data-index="2"></div>
            <div class="clock-tick" data-index="3"></div>
            <div class="clock-tick" data-index="4"></div>
        </div>
    </div>

</template>