<template id="popup-panel-template">
    <link rel="stylesheet" href="styles/generated/popup_panel.css">

    <div class="popup-outer">
        <div id="popup-inner" class="popup-inner">
        </div>
        <nidget-button class="round popup-close-button" id="popup-close-button">CLOSE</nidget-button>
    </div>

</template>