<template id="question-pane-template">
    <link rel="stylesheet" href="styles/generated/question_pane.css">

    <div id="outer">
        <nidget-text class="text-contents" id="text-contents" contenteditable="true"></nidget-text>
    </div>
</template>