<template id="text-input-template">
    <link rel="stylesheet" href="styles/generated/text_input.css">
    <div class="text-input">
        <nidget-text id="content" class="text" contenteditable=""></nidget-text>
        <div id="hint" class="hint-text">Enter Name Here</div>
    </div>
</template>