<template id="trivia-timer-template">
    <link rel="stylesheet" href="styles/generated/trivia_timer.css">
    <div class="bg"></div>
    <div id="outer" class="outer">
        <div class="row"></div>
        <div class="row" id="prev-tick"><div class="text">0</div></div>
        <div class="row" id="current-tick"><div class="text">0</div></div>
        <div class="row"></div>
    </div>
    <div class="mask"></div>
</template>